In [14]:
import pandas as pd
import numpy as np
import os

In [18]:
deliveriesPath = os.path.join(os.getcwd(), 'Indian-Premier-League', 'data', 'deliveries', 'deliveries.csv')

In [19]:
deliveries = pd.read_csv(deliveriesPath)

In [20]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [21]:
deliveries.fillna({'player_dismissed': 'Not Dismissed'}, inplace= True)

In [22]:
deliveries.fillna({'dismissal_kind': 'Not Dismissed'}, inplace= True)

In [23]:
deliveries.fillna({'fielder': 'Not Dismissed'}, inplace= True)

In [24]:
deliveries.loc[(deliveries.match_id == 11146) & (deliveries.inning > 2), 'is_super_over'] = 1

In [25]:
deliveries.loc[(deliveries.match_id == 11146) & (deliveries.inning > 3), 'inning'] = 4

In [26]:
deliveries.loc[(deliveries.match_id == 11342) & (deliveries.inning > 2), 'is_super_over'] = 1

In [27]:
deliveries.loc[(deliveries.match_id == 11342) & (deliveries.inning > 3), 'inning'] = 4

In [28]:
deliveries.to_csv('../deliveries.csv')

In [29]:
import uuid
ids = []

for i in range(deliveries.shape[0]):
    u = (uuid.uuid4().hex)
    ids.append(u)
    
# deliveries.uid = ids

In [30]:
deliveries['uid'] = ids

In [33]:
deliveries.to_csv(deliveriesPath)

In [34]:
(deliveries.shape[0] / 100 )

1790.78